@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply text-gray-800;
  @apply text-sm;
}

a:hover:not(.logo):not(.button) {
  cursor: pointer !important;
  @apply text-primary;
  transition: color;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.icon-spin {
  animation: icon-spin 2s infinite linear;
}

/* Let the Slate elements breathe */
[data-slate-editor] > p {
  @apply mt-4;
}

@-webkit-keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}