@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply text-gray-800;
  @apply text-sm;
}

a:hover:not(.logo) {
  cursor: pointer !important;
  @apply text-primary;
}

button > a:hover:not(.logo) {
  @apply text-white;
}

.icon-spin {
  animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}